$font_lg: 60px;
$font_md: 48px;
$font_sm: 36px;
$font_xs: 24px;

$gray: #eee;
$containerWidth: 10%;
$contentPadding: 50px;
$theme1: #F62459;
$grey_bkg: #eee;
$shadow-sm: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-md: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-lg: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

body {
  font-family: 'Roboto', sans-serif;
}

@mixin tileShadow($shadow) {
  box-shadow: $shadow;
}

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  @include tileShadow($shadow-sm);
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}
.container {
  max-width: 100%;

  &.header {
    padding-left: $containerWidth / 2;
    padding-right: $containerWidth / 2;
  }
  &.body {
    padding-left: $containerWidth;
    padding-right: $containerWidth;
    padding-top: $contentPadding;
    padding-bottom: $contentPadding*2;
  }
}

.tile-white {
  background: white;
  padding: $contentPadding;

  @include tileShadow($shadow-md);
}
.tile-small {
  width: 75%;
  max-width: 400px;
  margin: 50px auto;
}
.grey_bkg {
  background: $grey_bkg;
}
.dark_bkg {

}

.no-bkg {
  background: none !important;
}

heading {
  text-align: center;

  h1,
  h2,
  h3,
  h4 {
    display: inline-block;
  }
}

.icon-lg {
  font-size: $font_lg;
  display: block;
}

.icon-md {
  font-size: $font_md;
  line-height: 58px;
}

.icon-sm {
  font-size: $font_sm;
  display: inline-block;
  vertical-align: middle;
}

.icon-sm {
  font-size: $font_xs;
  display: inline-block;
  vertical-align: middle;
}

.extra-padding {
  padding: 25px 50px;
}

.small-padding {
  padding: 10px;
}
