<html lang="en" ng-app="IdeaCanvas">
  <head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  </head>
  <body layout="row" ng-controller="AppCtrl">
    <div layout="column" class="relative" layout-fill role="main">
      <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
        <ng-md-icon icon="add"></ng-md-icon>
      </md-button>
      <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools container header" layout="row">
          <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
          <h3>
            IdeaCanvas
          </h3>
          <span flex></span>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
        </div>
        <md-tabs md-stretch-tabs class="container header no-bkg" md-selected="$root.selectedIndex" ng-show="showTabs">
          <md-tab ng-repeat="tab in tabs" id="{{tab}}" aria-controls="{{tab}}-content">
            {{tab}}
          </md-tab>
        </md-tabs>
      </md-toolbar>
      <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="showSearch = !showSearch" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
          </md-button>
          <h3 flex="10">
            Back
          </h3>
          <md-input-container md-theme="input" flex>
            <label>&nbsp;</label>
            <input ng-model="search.who" placeholder="enter search">
          </md-input-container>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-content class="container body grey_bkg" flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>
        </ui-view>
      </md-content>
    </div>
  </body>
  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({app,.tmp}) scripts/main.js -->
  <script src="app.js"></script>
  <script src="scripts/routes.js"></script>
  <script src="scripts/config.js"></script>
  <script src="scripts/run.js"></script>

  <script src="scripts/factories/idea.factory.js"></script>
  <script src="scripts/factories/auth.factory.js"></script>
  <script src="scripts/factories/user.factory.js"></script>
  <script src="scripts/factories/messages.factory.js"></script>

  <script src="scripts/services/toast.service.js"></script>
  <script src="scripts/services/auth.service.js"></script>
  <script src="scripts/services/user.service.js"></script>
  <script src="scripts/services/nav.service.js"></script>
  <script src="scripts/services/idea.service.js"></script>

  <script src="scripts/controllers/DialogController.js"></script>
  <script src="scripts/controllers/AppController.js"></script>
  <script src="scripts/controllers/LoginController.js"></script>
  <script src="scripts/controllers/SignupController.js"></script>
  <script src="scripts/controllers/NewIdeaController.js"></script>
  <!-- endbuild -->
</html>
