<heading>
</heading>
<div class="tile-white tile-small">
  <div layout="row" layout-align="center">
    <i class="material-icons icon-lg">account_circle</i>
  </div>
  <div class="form-login form">
    <div layout="row">
      <md-input-container flex="100">
        <input type="email" ng-model="user.identifier">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Username</label>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="100">
        <input type="password" ng-model="user.password">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Password</label>
      </md-input-container>
    </div>
  </div>
  <div layout="row">
    <md-button class="md-primary md-raised" ng-click="login()" flex="100">Login
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </md-button>
    <a class="md-button" href="/#/signup" flex="100">Sign up</a>
  </div>
</div>
