<div class="inset" hide-sm></div>
<ng-switch on="$root.selectedIndex" class="tabpanel-container">
  <div role="tabpanel"
       id="info"
       aria-labelledby="info-content"
       ng-switch-when="0"
       md-swipe-left="next()"
       md-swipe-right="previous()">
    <div layout="row" layout-align="center">
      <h2 ng-bind="'Basic Info'"></h2>
    </div>
    <md-card flex="60" flex-offset="20">
      <md-card-content>
        <form name="userForm" class="small-padding">
          <div ng-repeat="param in params.info" layout="row">
            <md-input-container flex="90" flex-offset="5">
              <ng-switch on="param.type">
                <div ng-switch-when="text">
                  <label ng-bind="param.label"></label>
                  <input ng-model="$root.newIdea[param.key]" ng-placeholder="param.placeholder">
                </div>
                <div ng-switch-when="slider">
                  <md-slider class="md-primary" md-discrete ng-model="$root.newIdea[param.key]" min="1" max="5" default="3">
                  </md-slider>
                  <span ng-bind="param.label"></span>
                </div>
                <div ng-switch-when="sub">
                  <label ng-bind="param.label"></label>
                  <input ng-model="$root.newIdea[param.key][param.subkey]" ng-placeholder="param.placeholder">
                </div>
              </ng-switch>
            </md-input-container>
          </div>
        </form>
        <div>
          <md-button class="md-primary md-raised" ng-click="next()">
            next
            <div class="ripples buttonRipples">
              <span class="ripplesCircle"></span>
            </div>
          </md-button>
          <md-button class="md-primary" ng-click="save()">
            save
            <div class="ripples buttonRipples">
              <span class="ripplesCircle"></span>
            </div>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div role="tabpanel"
       id="pain"
       aria-labelledby="pain-content"
       ng-switch-when="1"
       md-swipe-left="next()"
       md-swipe-right="previous()">
    <div layout="row" layout-align="center">
      <h2 ng-bind="'Pain of the Customer'"></h2>
    </div>
      <md-card flex="60" flex-offset="20">
        <md-card-content>
          <form name="userForm" class="small-padding">
              <div ng-repeat="param in params.pain" layout="row">
                <md-input-container flex="90" flex-offset="5">
                  <ng-switch on="param.type">
                    <div ng-switch-when="text">
                      <label ng-bind="param.label"></label>
                      <input ng-model="$root.newIdea.pain[param.key]" ng-placeholder="param.placeholder">
                    </div>
                    <div ng-switch-when="slider">
                      <md-slider class="md-primary" md-discrete ng-model="$root.newIdea.pain[param.key]" min="1" max="5" default="3">
                      </md-slider>
                      <span ng-bind="param.label"></span>
                    </div>
                  </ng-switch>
                </md-input-container>
            </div>
          </form>
          <div layout="row">
            <md-button class="md-primary md-raised" ng-click="next()">
              next
              <div class="ripples buttonRipples">
                <span class="ripplesCircle"></span>
              </div>
            </md-button>
            <md-button class="md-primary" ng-click="save()">
              save
              <div class="ripples buttonRipples">
                <span class="ripplesCircle"></span>
              </div>
            </md-button>
          </div>
        </md-card-content>
      </md-card>
    </div>

  <div role="tabpanel"
       id="potential"
       aria-labelledby="potential-content"
       ng-switch-when="2"
       md-swipe-left="next()"
       md-swipe-right="previous()">
    <div layout="row" layout-align="center">
      <h2 ng-bind="'Potential of the Market'"></h2>
    </div>
    <md-card flex="60" flex-offset="20">
      <md-card-content>
        <form name="userForm" class="small-padding">
          <div ng-repeat="param in params.potential" layout="row">
            <md-input-container flex="90" flex-offset="5">
              <ng-switch on="param.type">
                <div ng-switch-when="text">
                  <label ng-bind="param.label"></label>
                  <input ng-model="$root.newIdea.potential[param.key]" ng-placeholder="param.placeholder">
                </div>
                <div ng-switch-when="slider">
                  <md-slider class="md-primary" md-discrete ng-model="$root.newIdea.potential[param.key]" min="1" max="5" default="3">
                  </md-slider>
                  <span ng-bind="param.label"></span>
                </div>
              </ng-switch>
            </md-input-container>
          </div>
        </form>
        <div layout="row">
          <md-button class="md-primary md-raised" ng-click="next()">
            next
            <div class="ripples buttonRipples">
              <span class="ripplesCircle"></span>
            </div>
          </md-button>
          <md-button class="md-primary" ng-click="save()">
            save
            <div class="ripples buttonRipples">
              <span class="ripplesCircle"></span>
            </div>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div role="tabpanel"
       id="prescription"
       aria-labelledby="prescription-content"
       ng-switch-when="3"
       md-swipe-left="next()"
       md-swipe-right="previous()">
    <div layout="row" layout-align="center">
      <h2 ng-bind="'Prescription for the Pain'"></h2>
    </div>
    <md-card flex="60" flex-offset="20">
      <md-card-content>
        <form name="userForm" class="small-padding">
          <div ng-repeat="param in params.prescription" layout="row">
            <md-input-container flex="90" flex-offset="5">
              <ng-switch on="param.type">
                <div ng-switch-when="text">
                  <label ng-bind="param.label"></label>
                  <input ng-model="$root.newIdea.prescription[param.key]" ng-placeholder="param.placeholder">
                </div>
                <div ng-switch-when="slider">
                  <md-slider class="md-primary" md-discrete ng-model="$root.newIdea.prescription[param.key]" min="1" max="5" default="3">
                  </md-slider>
                  <span ng-bind="param.label"></span>
                </div>
              </ng-switch>
            </md-input-container>
          </div>
        </form>
        <div>
          <md-button class="md-primary md-raised" ng-click="next()">
            next
            <div class="ripples buttonRipples">
              <span class="ripplesCircle"></span>
            </div>
          </md-button>
          <md-button class="md-primary" ng-click="save()">
            save
            <div class="ripples buttonRipples">
              <span class="ripplesCircle"></span>
            </div>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div role="tabpanel"
       id="positioning"
       aria-labelledby="positioning-content"
       ng-switch-when="4"
       md-swipe-left="next()"
       md-swipe-right="previous()">
    <div layout="row" layout-align="center">
      <h2 ng-bind="'Positioning in the Market'"></h2>
    </div>
    <md-card flex="60" flex-offset="20">
      <md-card-content>
        <form name="userForm" class="small-padding">
          <div ng-repeat="param in params.positioning" layout="row">
            <md-input-container flex="90" flex-offset="5">
              <ng-switch on="param.type">
                <div ng-switch-when="text">
                  <label ng-bind="param.label"></label>
                  <input ng-model="$root.newIdea.positioning[param.key]" ng-placeholder="param.placeholder">
                </div>
                <div ng-switch-when="slider">
                  <md-slider class="md-primary" md-discrete ng-model="$root.newIdea.positioning[param.key]" min="1" max="5" default="3">
                  </md-slider>
                  <span ng-bind="param.label"></span>
                </div>
              </ng-switch>
            </md-input-container>
          </div>
        </form>
        <div>
          <md-button class="md-primary md-raised" ng-click="next()">
            next
            <div class="ripples buttonRipples">
              <span class="ripplesCircle"></span>
            </div>
          </md-button>
          <md-button class="md-primary" ng-click="save()">
            save
            <div class="ripples buttonRipples">
              <span class="ripplesCircle"></span>
            </div>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
  </div>
</ng-switch>
