<div class="tile-white tile-small">
  <div layout="row" layout-align="center">
    <i class="material-icons icon-lg">account_circle</i>
  </div>
  <div class="form-login form">
    <div layout="row">
      <md-input-container flex="100">
        <input type="text" ng-model="user.fullname">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Full Name</label>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="100">
        <input type="email" ng-model="user.username">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="100">
        <input type="password" ng-model="user.password">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Password</label>
      </md-input-container>
    </div>
  </div>
  <div layout="row">
    <md-button class="md-primary md-raised" ng-click="signup()" flex="100">Sign up<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div></md-button>
    <a class="md-button" ng-href="/#/login" flex="100">Log in</a>
  </div>
</div>
